In [24]:
%load_ext google.cloud.bigquery

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

In [25]:
import numpy as np 
import pandas as pd
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/home/shuang/Downloads/bqair-2b59936a9500.json"

# Big query helpers
from google.cloud import bigquery
from bq_helper import BigQueryHelper

# Import plotting libaries
import matplotlib.pyplot as plt
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.io as pio
import geopandas
import shapely

# the Plotly in offline mode we can see map in the notebook.
from plotly.offline import download_plotlyjs,init_notebook_mode, plot,iplot
init_notebook_mode(connected=True)

In [26]:
#getting CO daily summary data first:
QUERY = """
    SELECT
        state_code,
        county_code,
        date_local,
        arithmetic_mean,
        aqi
    FROM
      `bigquery-public-data.epa_historical_air_quality.co_daily_summary`
    WHERE
      poc = 1
      AND EXTRACT(YEAR FROM date_local) in (2011,2012,2013,2014,2015,2016)
    
        """

In [27]:
bq_assistant = BigQueryHelper("bigquery-public-data", "epa_historical_air_quality")

In [28]:
df_co = bq_assistant.query_to_pandas(QUERY) # getting data through big query to pandas

In [29]:
df_co.head()

  state_code county_code  date_local  arithmetic_mean aqi
0         02         020  2011-03-08         1.320833  19
1         31         055  2016-10-27         0.983333  14
2         02         020  2011-03-07         0.829167  15
3         49         047  2012-01-22         1.337500  16
4         02         020  2011-03-12         1.137500  16

In [30]:
df_co['date_local'] = pd.to_datetime(df_co['date_local'])
df_co['year'] = df_co['date_local'].dt.year
df_co['month'] = df_co['date_local'].dt.month
df_co.head()

  state_code county_code date_local  arithmetic_mean aqi  year  month
0         02         020 2011-03-08         1.320833  19  2011      3
1         31         055 2016-10-27         0.983333  14  2016     10
2         02         020 2011-03-07         0.829167  15  2011      3
3         49         047 2012-01-22         1.337500  16  2012      1
4         02         020 2011-03-12         1.137500  16  2011      3